<div class="container">

	<div style="text-align:center; color: white; height: 5%" class="page-header">
	  <h2>
	    Welcome to {{ title }} !
	  </h2>
	</div>

	<app-dashboard></app-dashboard>

	<!--<app-if-else-then style="text-align:center"></app-if-else-then>-->
	<!--<app-animate></app-animate>-->

	<router-outlet></router-outlet>


	<!--<div style="text-align:center; color: white; height: 5%" class="page-footer">
	  <div style="text-align:right;"><span>@Spark</span></div>
	</div>-->

</div>

