<div class="container">

<div class="row page-header">
	<div style="text-align:center; color: white; height: 5%" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
	  <h2>
	    Welcome to {{ title }} !
	  </h2>	  
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-left">
		<a href="https://github.com/spartagus/angular4-app.git" ><img src="assets/images/github.gif" class="img-responsive" id="logo" alt="github code"></a>
	</div>
</div>
	

	<app-dashboard></app-dashboard>

	<!--<app-if-else-then style="text-align:center"></app-if-else-then>-->
	<!--<app-animate></app-animate>-->

	<router-outlet></router-outlet>


	<!--<div style="text-align:center; color: white; height: 5%" class="page-footer">
	  <div style="text-align:right;"><span>@Spark</span></div>
	</div>-->

</div>

