<!--<div>
	<ul>
		<li><a routerLink="">Home</a></li>
		<li><a routerLink="if-else">If-Then-Else</a></li>
		<li><a routerLink="animate">Animation</a></li>-->
		<!--<li><a routerLink="animate/48">Animation ID</a></li>-->
		<!--<li><a routerLink="aot">AOT</a></li>
		<li><a routerLink="ngco">DynamicComponent</a></li>
	</ul>
</div>-->
<div class="row">
	<nav class="navbar navbar-default col-lg-8">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">A4 App</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li><a routerLink="">Home</a></li>
			<li><a routerLink="if-else">If-Else</a></li>
			<li><a routerLink="animate">Animation</a></li>
			<!--<li><a routerLink="animate/48">Animation ID</a></li>-->
			<li><a routerLink="aot">AOT</a></li>
			<li><a routerLink="ngco">Dynamic Component</a></li>
			<li><a routerLink="api">HTTP API</a></li>
			<!--<li><a routerLink="csv">CSV</a></li>
			<li><a routerLink="error">error</a></li>-->
	      </ul>
	      <!--<ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>-->
	    </div>
	  </div>
	</nav>
</div>